/*  General Layout */
.container {
  display: grid;
  height: 98vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background-color: #f4f8fb;
  font-family: "Segoe UI", Roboto, sans-serif;
}

.container > div {
  border: none;
}

/* Header */
.header {
  grid-column: span 4;
  background: linear-gradient(90deg, #004e92, #000428);
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/*  Map */
.map {
  grid-column: span 4;
  position: relative;
}

/*  Detail Bar */
.detailbar {
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px;
  margin-right: 40px;
  height: 55%;
  width: 270px;
  overflow-y: auto;
  transition: 0.3s;
  backdrop-filter: blur(6px);
}

.detailbar h3 {
  color: #004e92;
  text-align: center;
  margin-bottom: 10px;
}

.detailbar p {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
}

.detailbar ul {
  padding-left: 20px;
}

/*  Sidebar */
.sidebar {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px;
  margin-left: 40px;
  height: 55%;
  width: 270px;
  transition: 0.3s;
  backdrop-filter: blur(6px);
}

.sidebar h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #004e92;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.sidebar input,
.sidebar select,
.sidebar button {
  width: 100%;
  padding: 10px;

  margin: 8px 0;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.sidebar input:focus,
.sidebar select:focus {
  border-color: #4bc1df;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 78, 146, 0.4);
}

.sidebar button {
  background: linear-gradient(90deg, #004e92, #4bc1df);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.sidebar button:hover {
  background: linear-gradient(90deg, #4bc1df, #004e92);
  transform: scale(1.03);
}

label {
  color: #333;
  font-size: 14px;

  font-weight: 500;
}

#yearVal {
  color: #004e92;
  font-weight: 600;
}

.footer {
  grid-column: span 4;
  background: linear-gradient(90deg, #000428, #004e92);
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

